.my-style {
  font-size: 1.5em;
  color: white;
}

.space{
  line-height: 2em;
}

.bigger{
  font-size: 1.8em;  
}

.center2 {
  margin: 0;
  position: absolute;
  top: 27%;
  left: 17%;
  transform: translate(0%, 0%);
  font-weight: bold;
  font-size: 2;
  line-height: 2.5em;
}

.small {
  font-size: 70%;
  line-height: 100%;

}

.milieu {
  top: 25%;
  margin: 0;
  position: absolute;
}

.milieu2 {
  top: 30%;
  margin: 0;
  right: 2%;
  position: absolute;
}

.milieu3{
  top: 27%;
  left: 10%;
  right: 10%;
  position: absolute;
  margin: 20;
  transform: translate(0%, 0%);
}

.low {
  top: 75%;
  right: 48%;
  left: 5%;
  margin: 0;
  position: absolute;
}

.title-slide h1{
    color: white;
    text-shadow: 4px 3px 0 #7A7A7A;
}

.